# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.VC.db

# Build outputs
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.idb
*.exp

# Logs & Local Configs
BinaryLensLog.txt
*.log
*.tmp

# Release packages
dist/
releases/
